body {
    background-image:url('aurora.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}
.bienvenu {
text-align: center;
max-width: 30em;
margin: 1em auto 2em;
border: 10px solid #f0f0ff;
overflow: hidden;
box-shadow: 0 .25em .5em #CCC,inset 0 0 1em .25em #CCC

}
h1 {
    text-align: center;
    background-color: rgba(239, 115, 250, 0.904);
    color: rgba(13, 55, 243, 0.671);
}
.nom {
color: lightcoral;
}

h2 {
text-align: center;
color: rgb(51, 235, 226);
}
h3 {
    text-align: center;
    color: white;
}
a {color: antiquewhite;}